<div class="col-12 shadow custom-bg mt-4">
    <div class="row fix-height">
        <div class="col-3 p-0 pr-2 m-0"><%= image_tag (tweet.user.avatar), class: "avatar-in-tweet w-100 h-100" %></div>
        <div class="col-7 p-2">
            <%= link_to "<small class='text-muted'><i class='fas fa-comment-dots'></i> ".html_safe+time_ago_in_words(tweet.created_at)+" ago.</small>".html_safe, tweet %>
            <br/>
            <div class="w-100 px-2">
                <small><i class="fas fa-comment-alt text-muted"></i> <%= tweet.user.username %> says: </small><br/>

                <p><i>"<%= tweet.content.html_safe %>"</i></p>
            </div>
        </div>
        <br>
        <div class="col-2 text-right py-2">
            <div>
                <% if user_signed_in? && current_user != tweet.user %>
                    <% if current_user.is_following?(tweet.user_id) %>
                        <%= link_to "<i class='fas fa-user-times text-danger'></i>".html_safe, users_follow_path(tweet.user_id), method: :post %>
                    <% else %>
                        <%= link_to "<i class='fas fa-user-plus text-success'></i>".html_safe, users_follow_path(tweet.user_id), method: :post %>
                    <% end %>
                <% else %>
                    <br/>
                <% end %>
            </div>
            <% if user_signed_in? %>                
                <div>
                    <%= link_to "<i class='#{tweet.like_icon(current_user)}'></i>".html_safe, tweet_likes_path(tweet), method: :post %>
                    <small class="text-danger"><%= tweet.likes.count %></small>
                </div>
                <div>
                    <%= link_to "<i class='fas fa-retweet text-#{tweet.count_rt > 0 ? "success" : "muted"}'></i>".html_safe, tweet_retweet_path(tweet), method: :post %>
                    <small class="text-primary"><%= tweet.count_rt %></small>
                    <% if tweet.is_retweet? %>
                        <br/>
                        <small class='text-muted'><%= link_to 'Retweets!', tweet.tweet_ref %></small>
                    <% else %>
                        <br/>
                        <p></p>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>